<header class="bg-info">
  <div class="navbar">
    <h1 class="ms-4"><i class="bi bi-house-fill"></i>Movie Site</h1>
    <nav class="navbar">
      <ul class="list-group list-group-horizontal">
        <li>
          <a routerLink="/home" class="pe-3 fs-5">Home</a>
        </li>
        <li>
          <a routerLink="/popular" class="pe-3 fs-5">Popular</a>
        </li>
        <li>
          <a routerLink="/topRated" class="pe-3 fs-5">Top Rated</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="bg-secondary text-center text-white">
  <div class="p-3">
    <div class="mb-1">
      <a href=""><i class="i bi bi-youtube m-3"></i></a>

      <a href=""><i class="i bi bi-twitter m-3"></i></a>

      <a href=""><i class="i bi bi-instagram m-3"></i></a>

      <a href="https://www.google.com.tr" target="_blank"
        ><i class="i bi bi-github m-3"></i
      ></a>
    </div>
  </div>

  <div class="text-center p-2 mb-2">MGT</div>
</footer>
