<header class="bg-header">
  <div class="navbar justify-content-around navbar-expand-md navbar-dark">
    <h1 class="ms-4">
      <i (click)="goToHome()" class="bi bi-house-fill p-2"></i>Movie Site
    </h1>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsible"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="navbar justify-content-center">
      <div id="collapsible" class="collapse navbar-collapse">
        <ul class="list-group list-group-horizontal d-flex align-items-center">
          <li>
            <a routerLink="/home" class="m-0 pe-3">Home</a>
          </li>
          <li>
            <a routerLink="/popular" class="m-0 pe-3">Popular</a>
          </li>
          <li>
            <a routerLink="/topRated" class="m-0 pe-3">Top Rated</a>
          </li>
          <li>
            <a routerLink="/trending" class="m-0 pe-3">Trending</a>
          </li>
          <li>
            <input
              #movieName
              (input)="inputChanged(movieName)"
              type="search"
              class="form-control"
              id="search"
              placeholder="Search"
              list="datalistOptions"
              (keyup.enter)="goMovie()"
            />
            <datalist id="datalistOptions">
              <option value="{{ searchMovie?.results[0].title }}"></option>
              <option value="{{ searchMovie?.results[1].title }}"></option>
              <option value="{{ searchMovie?.results[2].title }}"></option>
              <option value="{{ searchMovie?.results[3].title }}"></option>
            </datalist>
          </li>
          <li>
            <i class="p-3 fs-3 bi bi-person-circle"></i>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="bg-secondary text-center text-white">
  <div class="p-3">
    <div class="mb-1">
      <a href=""><i class="i bi bi-youtube m-3"></i></a>

      <a href=""><i class="i bi bi-twitter m-3"></i></a>

      <a href=""><i class="i bi bi-instagram m-3"></i></a>

      <a href="https://www.google.com.tr" target="_blank"
        ><i class="i bi bi-github m-3"></i
      ></a>
    </div>
  </div>

  <div class="text-center p-2 mb-2">MGT</div>
</footer>
