.background-all {
  background-color: #d7e4e4;
}

img {
  justify-content: center;
  align-items: center;
}

img:hover {
  cursor: pointer;
}

.responsive {
  display: flex;
}

@media (max-width: 992px) {
  .responsive {
    display: inline;
  }

  .carousel {
    margin: auto;
    width: 400px;
  }
}

@media (max-width: 720px) {
  .botimg {
    width: 120px;
  }
}

@media (max-width: 400px) {
  img {
    width: 350px;
  }

  .carousel {
    margin: auto;
    width: 350px;
  }
}
