.card:hover {
  background-color: rgb(84, 129, 108);
  cursor: pointer;
  opacity: 0.8;
  top: -10px;
  border-end-end-radius: 15px;
  border-end-start-radius: 15px;
}

.card {
  top: 0;
  transition: all 0.5s;
}

.card-body {
  background-color: #aabbbe;
  border: #889ea1 1px solid;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.bg-all {
  background-color: #d7e4e4;
}

@media (max-width: 992px) {
  .imgres {
    margin: auto;
    width: 450px;
  }
}

@media (max-width: 720px) {
  .imgres {
    margin: auto;
    width: 350px;
  }
}
